/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------*/
:root {
	--boardBackgroundColor:rgb(25,25,25);
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
	flex-direction: column;
	position: relative;
    align-items: center;
	background-color: var(--boardBackgroundColor);
	font-family: 'Roboto', sans-serif;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3,minmax(50px,200px));
    grid-template-rows: repeat(3,200px);
	gap: 0.5rem;
}
.overlay {
	display: none;
	position: absolute;
	background-color: rgba(25,25,25,0.5);
	backdrop-filter: blur(20px);
	width: 100%;
	height: 100%;
}
.result-board {
	display: none;
	position: absolute;
	font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.playerResult {
	color: rgb(234, 0, 255);
}
.active {
	display: block;
}
.square {
    background-color: var(--boardBackgroundColor);
    border: 0.4rem solid black;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}	
.cross {
	text-shadow: rgb(0, 213, 255) 1px 0 20px;
	color: rgb(0, 213, 255);
	border: 0.4rem solid rgb(0, 213, 255);
	box-shadow:rgb(0, 213, 255) 1px 0 20px;
	font-size: 10rem;
	text-align: center;
	position: relative;
}
.circle {
	text-shadow: rgb(234, 0, 255) 1px 0 20px;
	color: rgb(234, 0, 255);
	border: 0.4rem solid rgb(234, 0, 255);
	box-shadow:rgb(234, 0, 255) 1px 0 20px;
	font-size: 10rem;
	text-align: center;
	position: relative;
}
.cross::before {
	content:"X";
	position: absolute;
	top: 35px;
	left: 0;
	width: 100%;
	height:1rem;


	filter: blur(0.3rem);
}
.circle::before {
	content:"O";
	position: absolute;
	top: 35px;
	left: 0;
	width: 100%;
	height:1rem;


	filter: blur(0.3rem);
}

.score-board {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;
	width:600px;
	color: rgb(234, 0, 255);
}
.score-board p, span {
	font-size: 2rem;
	padding: 1rem;
}
.score-board div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.resetBtn {
	padding: 1rem 2rem;
	border: 2px solid rgb(234, 0, 255);
	border-radius: 0.2rem;
	font-size: 1.5rem;
	background-color: var(--boardBackgroundColor);
	box-shadow:rgb(234, 0, 255) 1px 0 20px;
	color: rgb(234, 0, 255);
}
.resetBtn:hover {
	background-color: rgb(234, 0, 255);
	color: var(--boardBackgroundColor);
}